.container {
    display: inline-block;
    background: linear-gradient(45deg, #cb38ee, #5b99da);
    width: 434px;
    height: 0px;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 600px;
    color: white;
    border-radius: 22px;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    height: 100vh;

}


.password-toggle-icon {
  margin-top: 20px;
  margin-right: -17px;
  cursor: pointer;
  color: #5A6072;
}

.Register-div{
  display: inline-block;
  width: 434px;
  height: 340px;
  margin-top: 60px;
  margin-left: 80px;
  opacity: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.4); 
  transition: transform 0.3s ease-in-out;
  }

  .Register-div:hover {
    transform: scale(1.05);
  }
  
  .div-text{
    width: 240px;
    height: 30px;
    border-radius:6px;
    backdrop-filter: blur(2px);
    padding: 12px;
    margin-bottom: 12px;
    margin-left: 22px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(5px);
   
}

.div-button{
    width:120px;
    height: 50px;
    background-color: rgba(0, 0, 112, 0.8);
    color: aliceblue;
    transition: ease-out 0.5s;
    border-radius: 6px;

}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .div-button {
    width: 120px;
    height: 50px;
    background-color: #000070;
    color: aliceblue;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
  }
  
  .div-button:hover {
    background-color: rgba(0, 0, 112, 1);
    transform: scale(1.05);
  }
  
  button:disabled, .div-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  

